/* global styles */
main, header{
    max-width: 720px;
}

header {
    margin: 0 auto;
    padding-right: var(--pico-spacing);
    padding-left: var(--pico-spacing);
}

header a {
    text-decoration: none;
    color:inherit;
}

footer {
    font-size: 0.5rem;
    color: var(--pico-muted-color);
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
}

header > h1 {
    text-align: left;
    margin-top: 1rem;
}

.opacity-0 {
    opacity: 0;
}

.hidden {
    display: none;
}