/* global styles */
main, header{
    max-width: 720px;
}

header {
    margin: 0 auto;
    padding-right: var(--pico-spacing);
    padding-left: var(--pico-spacing);
}

footer {
    position: absolute;
    bottom: 0.25rem;
    right: 0.5rem;
    font-size: 0.5rem;
    color: var(--pico-muted-color);
    text-align: right;
}

header > h1 {
    text-align: left;
    margin-top: 1rem;
}